auth_enabled: false

server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        http:

ingester:
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 336h

storage:
  trace:
    backend: local
    local:
      path: /tmp/tempo
