openapi: 3.0.3
info:
  title: SAHOOL AI Services API
  description: |
    AI/ML Services for Agricultural Intelligence in the SAHOOL Platform
    خدمات الذكاء الاصطناعي للزراعة الذكية في منصة سهول

    This API provides:
    - **Advisory Service**: Disease assessment, nutrient deficiency analysis, and fertilizer planning
      خدمة الاستشارات: تقييم الأمراض، تحليل نقص العناصر الغذائية، وتخطيط التسميد
    - **Crop Intelligence**: Disease detection, symptom diagnosis, and crop health diagnostics
      ذكاء المحاصيل: كشف الأمراض، تشخيص الأعراض، وتشخيص صحة المحاصيل
    - **AI Advisor**: Interactive AI chat and image analysis for crop health
      المستشار الذكي: محادثة ذكية وتحليل الصور لصحة المحاصيل
    - **Agro Advisor**: Agronomic rules and recommendations engine
      المستشار الزراعي: محرك القواعد والتوصيات الزراعية
    - **Yield Prediction**: ML-powered crop yield forecasting
      التنبؤ بالإنتاج: توقعات إنتاجية المحاصيل باستخدام الذكاء الاصطناعي

    ## Services Architecture | هيكل الخدمات

    | Service | Port | Base Path |
    |---------|------|-----------|
    | advisory-service | 8093 | /api/v1/advisory, /api/v1/fertilizer |
    | crop-intelligence-service | 8095 | /api/v1/crop-health, /api/v1/crop |
    | ai-advisor | 8112 | /api/v1/ai-advisor |
    | agro-advisor | 8105 | /api/v1/agro-advisor, /api/v1/agro-rules |

    ## Authentication | المصادقة
    All endpoints require authentication via Bearer token in the Authorization header.
    جميع النقاط النهائية تتطلب المصادقة عبر رمز Bearer في رأس التفويض.

    ## Rate Limiting | حدود الطلبات
    - 100 requests per minute per user | 100 طلب في الدقيقة لكل مستخدم
    - 1000 requests per hour per tenant | 1000 طلب في الساعة لكل مستأجر

    ## Async Job Handling | معالجة المهام غير المتزامنة
    Long-running ML operations return a job ID for polling status.
    العمليات الطويلة تعيد معرّف مهمة للاستعلام عن الحالة.
  version: 16.0.0
  contact:
    name: SAHOOL Platform Support
    email: support@sahool.io
    url: https://sahool.io
  license:
    name: Proprietary
    url: https://sahool.io/terms

servers:
  - url: https://api.sahool.io/api/v1
    description: Production server | خادم الإنتاج
  - url: https://staging-api.sahool.io/api/v1
    description: Staging server | خادم الاختبار
  - url: http://localhost:8080/api/v1
    description: Local development | التطوير المحلي

tags:
  - name: Advisory Service
    description: |
      Disease assessment, nutrient analysis, and fertilizer planning
      تقييم الأمراض، تحليل العناصر الغذائية، وتخطيط التسميد
  - name: Crop Intelligence
    description: |
      Image analysis, symptom diagnosis, and yield prediction
      تحليل الصور، تشخيص الأعراض، والتنبؤ بالإنتاج
  - name: AI Advisor
    description: |
      Interactive AI chat and image analysis
      المحادثة الذكية وتحليل الصور
  - name: Agro Advisor
    description: |
      Agronomic rules and recommendations
      القواعد والتوصيات الزراعية
  - name: Crop Data
    description: |
      Crop information, varieties, and growth stages
      معلومات المحاصيل، الأصناف، ومراحل النمو
  - name: Health Check
    description: |
      Service health and status endpoints
      نقاط فحص صحة الخدمة

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT authentication token
        رمز المصادقة JWT

  schemas:
    # ==================== Enums ====================
    GrowthStage:
      type: string
      description: |
        Crop growth stage
        مرحلة نمو المحصول
      enum:
        - germination
        - seedling
        - tillering
        - heading
        - flowering
        - ripening
      x-enum-descriptions:
        germination: "الإنبات - Germination stage"
        seedling: "الشتلة - Seedling stage"
        tillering: "التفريع - Tillering stage"
        heading: "طرد السنابل - Heading stage"
        flowering: "الإزهار - Flowering stage"
        ripening: "النضج - Ripening stage"

    Severity:
      type: string
      description: |
        Severity level for conditions and diseases
        مستوى الشدة للحالات والأمراض
      enum:
        - none
        - low
        - medium
        - high
        - critical
      x-enum-descriptions:
        none: "لا يوجد - No severity"
        low: "منخفض - Low severity"
        medium: "متوسط - Medium severity"
        high: "عالي - High severity"
        critical: "حرج - Critical severity"

    IrrigationType:
      type: string
      description: |
        Type of irrigation system
        نوع نظام الري
      enum:
        - drip
        - sprinkler
        - flood
        - pivot
        - rainfed
        - smart
      x-enum-descriptions:
        drip: "التنقيط - Drip irrigation"
        sprinkler: "الرش - Sprinkler irrigation"
        flood: "الغمر - Flood irrigation"
        pivot: "المحوري - Pivot irrigation"
        rainfed: "بعلي - Rain-fed"
        smart: "ذكي - Smart irrigation"

    SoilFertility:
      type: string
      description: |
        Soil fertility level
        مستوى خصوبة التربة
      enum:
        - poor
        - low
        - medium
        - good
        - excellent
      x-enum-descriptions:
        poor: "ضعيفة جداً - Very poor fertility"
        low: "ضعيفة - Low fertility"
        medium: "متوسطة - Medium fertility"
        good: "جيدة - Good fertility"
        excellent: "ممتازة - Excellent fertility"

    LeafColor:
      type: string
      description: |
        Leaf color for visual assessment
        لون الورقة للتقييم البصري
      enum:
        - green
        - light_green
        - yellow
        - yellow_green
        - brown
        - purple
        - red
        - spotted
      x-enum-descriptions:
        green: "أخضر - Normal green"
        light_green: "أخضر فاتح - Light green"
        yellow: "أصفر - Yellow"
        yellow_green: "أصفر مخضر - Yellow-green"
        brown: "بني - Brown"
        purple: "بنفسجي - Purple"
        red: "أحمر - Red"
        spotted: "مبقع - Spotted"

    DeficiencyPattern:
      type: string
      description: |
        Pattern of nutrient deficiency symptoms
        نمط أعراض نقص العناصر الغذائية
      enum:
        - uniform
        - interveinal
        - marginal
        - tip_burn
        - necrotic_spots
        - chlorosis
        - stunted
      x-enum-descriptions:
        uniform: "منتظم - Uniform pattern"
        interveinal: "بين العروق - Interveinal chlorosis"
        marginal: "هامشي - Marginal symptoms"
        tip_burn: "احتراق الأطراف - Tip burn"
        necrotic_spots: "بقع ميتة - Necrotic spots"
        chlorosis: "اصفرار - Chlorosis"
        stunted: "تقزم - Stunted growth"

    SymptomLocation:
      type: string
      description: |
        Location of symptoms on the plant
        موقع الأعراض على النبات
      enum:
        - older_leaves
        - younger_leaves
        - all_leaves
        - stem
        - roots
        - fruit
        - whole_plant
      x-enum-descriptions:
        older_leaves: "الأوراق القديمة - Older leaves"
        younger_leaves: "الأوراق الحديثة - Younger leaves"
        all_leaves: "جميع الأوراق - All leaves"
        stem: "الساق - Stem"
        roots: "الجذور - Roots"
        fruit: "الثمار - Fruit"
        whole_plant: "النبات كاملاً - Whole plant"

    # ==================== Common Schemas ====================
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: |
            Error code
            رمز الخطأ
          example: INVALID_REQUEST
        message:
          type: string
          description: |
            Human-readable error message
            رسالة الخطأ للمستخدم
          example: Invalid crop type specified
        message_ar:
          type: string
          description: |
            Arabic error message
            رسالة الخطأ بالعربية
          example: نوع المحصول المحدد غير صالح
        details:
          type: object
          description: |
            Additional error details
            تفاصيل إضافية عن الخطأ
        request_id:
          type: string
          format: uuid
          description: |
            Request tracking ID
            معرّف تتبع الطلب

    AsyncJob:
      type: object
      required:
        - job_id
        - status
        - created_at
      properties:
        job_id:
          type: string
          format: uuid
          description: |
            Unique job identifier
            معرّف المهمة الفريد
          example: 550e8400-e29b-41d4-a716-446655440000
        status:
          type: string
          enum: [pending, running, completed, failed]
          description: |
            Current job status
            حالة المهمة الحالية
        status_ar:
          type: string
          description: |
            Arabic status description
            وصف الحالة بالعربية
          example: قيد التنفيذ
        created_at:
          type: string
          format: date-time
          description: |
            Job creation timestamp
            وقت إنشاء المهمة
        completed_at:
          type: string
          format: date-time
          description: |
            Job completion timestamp
            وقت اكتمال المهمة
        progress_percent:
          type: number
          minimum: 0
          maximum: 100
          description: |
            Job progress percentage
            نسبة تقدم المهمة
        result_url:
          type: string
          format: uri
          description: |
            URL to fetch results when job is completed
            رابط لجلب النتائج عند اكتمال المهمة

    WeatherCondition:
      type: object
      description: |
        Current weather conditions
        الظروف الجوية الحالية
      properties:
        temperature:
          type: number
          description: |
            Temperature in Celsius
            درجة الحرارة بالمئوية
          example: 28.5
        humidity:
          type: number
          minimum: 0
          maximum: 100
          description: |
            Relative humidity percentage
            نسبة الرطوبة النسبية
          example: 65
        rainfall_mm:
          type: number
          minimum: 0
          description: |
            Rainfall in last 24 hours (mm)
            هطول الأمطار في آخر 24 ساعة (مم)
          example: 0
        wind_speed_kmh:
          type: number
          minimum: 0
          description: |
            Wind speed in km/h
            سرعة الرياح كم/ساعة
          example: 12

    # ==================== Advisory Service Schemas ====================
    DiseaseAssessRequest:
      type: object
      description: |
        Request for disease assessment from classification model
        طلب تقييم المرض من نموذج التصنيف
      required:
        - tenantId
        - fieldId
        - conditionId
        - confidence
        - crop
      properties:
        tenantId:
          type: string
          description: |
            Tenant identifier
            معرّف المستأجر
          example: tenant_001
        fieldId:
          type: string
          description: |
            Field identifier
            معرّف الحقل
          example: field_demo
        conditionId:
          type: string
          description: |
            Disease condition identifier from classification
            معرّف حالة المرض من التصنيف
          example: early_blight_tomato
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: |
            Classification confidence score (0-1)
            درجة ثقة التصنيف (0-1)
          example: 0.89
        crop:
          type: string
          description: |
            Crop type
            نوع المحصول
          example: tomato
        weather:
          $ref: '#/components/schemas/WeatherCondition'
        growthStage:
          $ref: '#/components/schemas/GrowthStage'
        imageUrl:
          type: string
          format: uri
          description: |
            URL of the analyzed image
            رابط الصورة المحللة
        metadata:
          type: object
          description: |
            Additional metadata
            بيانات وصفية إضافية

    SymptomAssessRequest:
      type: object
      description: |
        Request for disease assessment from reported symptoms
        طلب تقييم المرض من الأعراض المبلغ عنها
      required:
        - tenantId
        - fieldId
        - crop
        - symptoms
      properties:
        tenantId:
          type: string
          description: |
            Tenant identifier
            معرّف المستأجر
          example: tenant_001
        fieldId:
          type: string
          description: |
            Field identifier
            معرّف الحقل
          example: field_demo
        crop:
          type: string
          description: |
            Crop type
            نوع المحصول
          example: wheat
        symptoms:
          type: array
          description: |
            List of observed symptoms
            قائمة الأعراض الملاحظة
          items:
            type: string
          example:
            - yellow_leaves
            - brown_spots
            - wilting
        lang:
          type: string
          description: |
            Preferred language for response (ar/en)
            اللغة المفضلة للاستجابة (ar/en)
          enum: [ar, en]
          default: ar
        affectedAreaPercent:
          type: number
          minimum: 0
          maximum: 100
          description: |
            Estimated percentage of affected area
            النسبة المئوية التقديرية للمنطقة المتأثرة
          example: 15
        durationDays:
          type: integer
          minimum: 0
          description: |
            Days since symptoms first appeared
            الأيام منذ ظهور الأعراض لأول مرة
          example: 5

    NDVIAssessRequest:
      type: object
      description: |
        Request for nutrient deficiency assessment from NDVI data
        طلب تقييم نقص العناصر الغذائية من بيانات NDVI
      required:
        - tenantId
        - fieldId
        - ndvi
        - crop
      properties:
        tenantId:
          type: string
          description: |
            Tenant identifier
            معرّف المستأجر
          example: tenant_001
        fieldId:
          type: string
          description: |
            Field identifier
            معرّف الحقل
          example: field_demo
        ndvi:
          type: number
          minimum: -1
          maximum: 1
          description: |
            Current NDVI value (-1 to 1)
            قيمة NDVI الحالية (-1 إلى 1)
          example: 0.45
        ndviHistory:
          type: array
          description: |
            Historical NDVI values for trend analysis
            قيم NDVI التاريخية لتحليل الاتجاه
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              value:
                type: number
                minimum: -1
                maximum: 1
          example:
            - date: "2026-01-10"
              value: 0.65
            - date: "2026-01-17"
              value: 0.52
            - date: "2026-01-24"
              value: 0.45
        crop:
          type: string
          description: |
            Crop type
            نوع المحصول
          example: wheat
        stage:
          $ref: '#/components/schemas/GrowthStage'
        zoneId:
          type: string
          description: |
            Field zone identifier
            معرّف منطقة الحقل
          example: zone_a

    VisualAssessRequest:
      type: object
      description: |
        Request for visual nutrient assessment based on plant appearance
        طلب تقييم العناصر الغذائية البصري بناءً على مظهر النبات
      required:
        - tenantId
        - fieldId
        - leafColor
        - pattern
        - location
        - crop
      properties:
        tenantId:
          type: string
          description: |
            Tenant identifier
            معرّف المستأجر
          example: tenant_001
        fieldId:
          type: string
          description: |
            Field identifier
            معرّف الحقل
          example: field_demo
        leafColor:
          $ref: '#/components/schemas/LeafColor'
        pattern:
          $ref: '#/components/schemas/DeficiencyPattern'
        location:
          $ref: '#/components/schemas/SymptomLocation'
        crop:
          type: string
          description: |
            Crop type
            نوع المحصول
          example: wheat
        stage:
          $ref: '#/components/schemas/GrowthStage'
        additionalSymptoms:
          type: array
          description: |
            Additional observed symptoms
            أعراض إضافية ملاحظة
          items:
            type: string
          example:
            - stunted_growth
            - delayed_maturity
        imageUrl:
          type: string
          format: uri
          description: |
            URL of plant image for reference
            رابط صورة النبات كمرجع

    FertilizerPlanRequest:
      type: object
      description: |
        Request for fertilizer plan generation
        طلب إنشاء خطة التسميد
      required:
        - tenantId
        - fieldId
        - crop
        - stage
        - fieldSizeHa
      properties:
        tenantId:
          type: string
          description: |
            Tenant identifier
            معرّف المستأجر
          example: tenant_001
        fieldId:
          type: string
          description: |
            Field identifier
            معرّف الحقل
          example: field_demo
        crop:
          type: string
          description: |
            Crop type
            نوع المحصول
          example: wheat
        stage:
          $ref: '#/components/schemas/GrowthStage'
        fieldSizeHa:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: |
            Field size in hectares
            حجم الحقل بالهكتار
          example: 5.5
        soilFertility:
          $ref: '#/components/schemas/SoilFertility'
        irrigationType:
          $ref: '#/components/schemas/IrrigationType'
        targetYieldTonHa:
          type: number
          minimum: 0
          description: |
            Target yield in tons per hectare
            الإنتاج المستهدف بالطن لكل هكتار
          example: 4.5
        soilAnalysis:
          type: object
          description: |
            Soil analysis results
            نتائج تحليل التربة
          properties:
            ph:
              type: number
              minimum: 0
              maximum: 14
              example: 7.2
            nitrogenPpm:
              type: number
              minimum: 0
              example: 18
            phosphorusPpm:
              type: number
              minimum: 0
              example: 25
            potassiumPpm:
              type: number
              minimum: 0
              example: 150
            organicMatterPercent:
              type: number
              minimum: 0
              maximum: 100
              example: 2.5
        budgetSar:
          type: number
          minimum: 0
          description: |
            Budget in Saudi Riyal
            الميزانية بالريال السعودي
          example: 5000
        organicOnly:
          type: boolean
          default: false
          description: |
            Use only organic fertilizers
            استخدام الأسمدة العضوية فقط

    # ==================== Response Schemas ====================
    DiseaseAssessResponse:
      type: object
      description: |
        Disease assessment response
        استجابة تقييم المرض
      required:
        - assessmentId
        - disease
        - severity
        - confidence
        - recommendations
      properties:
        assessmentId:
          type: string
          format: uuid
          description: |
            Unique assessment identifier
            معرّف التقييم الفريد
        disease:
          type: object
          properties:
            id:
              type: string
              example: early_blight
            name:
              type: string
              example: Early Blight
            nameAr:
              type: string
              example: اللفحة المبكرة
            description:
              type: string
            descriptionAr:
              type: string
        severity:
          $ref: '#/components/schemas/Severity'
        confidence:
          type: number
          minimum: 0
          maximum: 1
          example: 0.89
        affectedAreaPercent:
          type: number
          minimum: 0
          maximum: 100
          example: 15
        recommendations:
          type: array
          items:
            type: object
            properties:
              action:
                type: string
                example: Apply fungicide
              actionAr:
                type: string
                example: رش مبيد فطري
              priority:
                type: string
                enum: [P0, P1, P2, P3]
              timing:
                type: string
                example: Within 24 hours
              timingAr:
                type: string
                example: خلال 24 ساعة
              product:
                type: string
              dosage:
                type: string
        economicImpact:
          type: object
          properties:
            potentialLossPercent:
              type: number
              description: |
                Potential yield loss if untreated
                الخسارة المحتملة في الإنتاج إذا لم يُعالج
              example: 25
            treatmentCostSar:
              type: number
              description: |
                Estimated treatment cost
                تكلفة العلاج التقديرية
              example: 850

    NutrientAssessResponse:
      type: object
      description: |
        Nutrient deficiency assessment response
        استجابة تقييم نقص العناصر الغذائية
      required:
        - assessmentId
        - deficiencies
        - recommendations
      properties:
        assessmentId:
          type: string
          format: uuid
        deficiencies:
          type: array
          items:
            type: object
            properties:
              nutrient:
                type: string
                example: nitrogen
              nutrientAr:
                type: string
                example: النيتروجين
              severity:
                $ref: '#/components/schemas/Severity'
              confidence:
                type: number
                minimum: 0
                maximum: 1
              symptoms:
                type: array
                items:
                  type: string
              symptomsAr:
                type: array
                items:
                  type: string
        recommendations:
          type: array
          items:
            type: object
            properties:
              fertilizer:
                type: string
                example: Urea 46%
              fertilizerAr:
                type: string
                example: يوريا 46%
              rateKgHa:
                type: number
                example: 46
              applicationMethod:
                type: string
              applicationMethodAr:
                type: string
              timing:
                type: string
              timingAr:
                type: string
        ndviAnalysis:
          type: object
          properties:
            currentNdvi:
              type: number
            expectedNdvi:
              type: number
            trend:
              type: string
              enum: [increasing, stable, decreasing]
            healthStatus:
              type: string
              enum: [healthy, stressed, critical]

    FertilizerPlanResponse:
      type: object
      description: |
        Fertilizer plan response
        استجابة خطة التسميد
      required:
        - planId
        - fieldId
        - crop
        - applications
        - totalCost
      properties:
        planId:
          type: string
          format: uuid
        fieldId:
          type: string
        crop:
          type: string
        cropAr:
          type: string
        stage:
          $ref: '#/components/schemas/GrowthStage'
        fieldSizeHa:
          type: number
        applications:
          type: array
          items:
            type: object
            properties:
              applicationNumber:
                type: integer
              scheduledDate:
                type: string
                format: date
              fertilizers:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    nameAr:
                      type: string
                    quantityKg:
                      type: number
                    npkContent:
                      type: object
                      properties:
                        N:
                          type: number
                        P:
                          type: number
                        K:
                          type: number
                    applicationMethod:
                      type: string
                    applicationMethodAr:
                      type: string
              notes:
                type: string
              notesAr:
                type: string
        totalNutrients:
          type: object
          properties:
            nitrogenKg:
              type: number
            phosphorusKg:
              type: number
            potassiumKg:
              type: number
        totalCost:
          type: object
          properties:
            sar:
              type: number
            usd:
              type: number
        warnings:
          type: array
          items:
            type: string
        warningsAr:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time

    # ==================== AI Advisor Schemas ====================
    ChatRequest:
      type: object
      description: |
        AI chat interaction request
        طلب محادثة الذكاء الاصطناعي
      required:
        - tenantId
        - message
      properties:
        tenantId:
          type: string
          description: |
            Tenant identifier
            معرّف المستأجر
        userId:
          type: string
          description: |
            User identifier
            معرّف المستخدم
        sessionId:
          type: string
          description: |
            Chat session identifier for context continuity
            معرّف جلسة المحادثة لاستمرارية السياق
        message:
          type: string
          description: |
            User message
            رسالة المستخدم
          example: ما هي أفضل طريقة لري القمح في مرحلة التفريع؟
        context:
          type: object
          description: |
            Additional context for the conversation
            سياق إضافي للمحادثة
          properties:
            fieldId:
              type: string
            crop:
              type: string
            stage:
              $ref: '#/components/schemas/GrowthStage'
            location:
              type: object
              properties:
                lat:
                  type: number
                lon:
                  type: number
        lang:
          type: string
          enum: [ar, en]
          default: ar
          description: |
            Preferred response language
            لغة الاستجابة المفضلة

    ChatResponse:
      type: object
      description: |
        AI chat interaction response
        استجابة محادثة الذكاء الاصطناعي
      required:
        - sessionId
        - response
      properties:
        sessionId:
          type: string
          description: |
            Chat session identifier
            معرّف جلسة المحادثة
        response:
          type: string
          description: |
            AI response message
            رسالة استجابة الذكاء الاصطناعي
        responseAr:
          type: string
          description: |
            Arabic response if different from main response
            الاستجابة بالعربية إذا اختلفت عن الاستجابة الرئيسية
        suggestions:
          type: array
          description: |
            Follow-up question suggestions
            اقتراحات الأسئلة التالية
          items:
            type: string
        references:
          type: array
          description: |
            Related resources and documentation
            المصادر والوثائق ذات الصلة
          items:
            type: object
            properties:
              title:
                type: string
              titleAr:
                type: string
              url:
                type: string
                format: uri
        actions:
          type: array
          description: |
            Suggested actions based on the conversation
            الإجراءات المقترحة بناءً على المحادثة
          items:
            type: object
            properties:
              type:
                type: string
                enum: [create_task, schedule_irrigation, apply_fertilizer, scout_field]
              description:
                type: string
              descriptionAr:
                type: string
              payload:
                type: object
        timestamp:
          type: string
          format: date-time

    ImageAnalysisRequest:
      type: object
      description: |
        Image analysis request for crop health
        طلب تحليل الصورة لصحة المحصول
      required:
        - tenantId
        - imageUrl
      properties:
        tenantId:
          type: string
        fieldId:
          type: string
        imageUrl:
          type: string
          format: uri
          description: |
            URL of the image to analyze
            رابط الصورة للتحليل
        imageBase64:
          type: string
          description: |
            Base64 encoded image (alternative to URL)
            الصورة المشفرة بـ Base64 (بديل عن الرابط)
        crop:
          type: string
        analysisTypes:
          type: array
          description: |
            Types of analysis to perform
            أنواع التحليل المطلوبة
          items:
            type: string
            enum: [disease, nutrient, pest, growth_stage, health_score]
          default: [disease, health_score]
        lang:
          type: string
          enum: [ar, en]
          default: ar

    ImageAnalysisResponse:
      type: object
      description: |
        Image analysis response
        استجابة تحليل الصورة
      required:
        - analysisId
        - results
      properties:
        analysisId:
          type: string
          format: uuid
        imageUrl:
          type: string
          format: uri
        results:
          type: object
          properties:
            disease:
              type: object
              properties:
                detected:
                  type: boolean
                diseases:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      nameAr:
                        type: string
                      confidence:
                        type: number
                      severity:
                        $ref: '#/components/schemas/Severity'
                      boundingBox:
                        type: object
                        properties:
                          x:
                            type: number
                          y:
                            type: number
                          width:
                            type: number
                          height:
                            type: number
            nutrient:
              type: object
              properties:
                deficiencies:
                  type: array
                  items:
                    type: object
                    properties:
                      nutrient:
                        type: string
                      nutrientAr:
                        type: string
                      confidence:
                        type: number
            pest:
              type: object
              properties:
                detected:
                  type: boolean
                pests:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      nameAr:
                        type: string
                      confidence:
                        type: number
            growthStage:
              type: object
              properties:
                stage:
                  $ref: '#/components/schemas/GrowthStage'
                confidence:
                  type: number
            healthScore:
              type: object
              properties:
                score:
                  type: number
                  minimum: 0
                  maximum: 100
                status:
                  type: string
                  enum: [excellent, good, fair, poor, critical]
                statusAr:
                  type: string
        recommendations:
          type: array
          items:
            type: object
            properties:
              action:
                type: string
              actionAr:
                type: string
              priority:
                type: string
                enum: [P0, P1, P2, P3]
        timestamp:
          type: string
          format: date-time

    # ==================== Crop Intelligence Schemas ====================
    CropAnalyzeRequest:
      type: object
      description: |
        Crop image analysis request
        طلب تحليل صورة المحصول
      required:
        - tenantId
        - imageUrl
      properties:
        tenantId:
          type: string
        fieldId:
          type: string
        imageUrl:
          type: string
          format: uri
        crop:
          type: string
        metadata:
          type: object

    CropDiagnoseRequest:
      type: object
      description: |
        Symptom-based crop diagnosis request
        طلب تشخيص المحصول بناءً على الأعراض
      required:
        - tenantId
        - crop
        - symptoms
      properties:
        tenantId:
          type: string
        fieldId:
          type: string
        crop:
          type: string
        symptoms:
          type: array
          items:
            type: string
        growthStage:
          $ref: '#/components/schemas/GrowthStage'
        environmentalConditions:
          type: object
          properties:
            temperature:
              type: number
            humidity:
              type: number
            recentRainfall:
              type: boolean
        lang:
          type: string
          enum: [ar, en]
          default: ar

    CropPredictRequest:
      type: object
      description: |
        Yield prediction request
        طلب التنبؤ بالإنتاج
      required:
        - tenantId
        - fieldId
        - crop
        - areaHa
      properties:
        tenantId:
          type: string
        fieldId:
          type: string
        crop:
          type: string
        areaHa:
          type: number
          minimum: 0
          exclusiveMinimum: true
        plantingDate:
          type: string
          format: date
        currentStage:
          $ref: '#/components/schemas/GrowthStage'
        irrigationType:
          $ref: '#/components/schemas/IrrigationType'
        soilFertility:
          $ref: '#/components/schemas/SoilFertility'
        avgNdvi:
          type: number
          minimum: -1
          maximum: 1
        weatherForecast:
          type: object
          properties:
            avgTemperature:
              type: number
            totalRainfallMm:
              type: number
            frostRisk:
              type: boolean

    CropPredictResponse:
      type: object
      description: |
        Yield prediction response
        استجابة التنبؤ بالإنتاج
      required:
        - predictionId
        - predictedYieldTonHa
        - confidence
      properties:
        predictionId:
          type: string
          format: uuid
        fieldId:
          type: string
        crop:
          type: string
        cropAr:
          type: string
        areaHa:
          type: number
        predictedYieldTonHa:
          type: number
          description: |
            Predicted yield in tons per hectare
            الإنتاج المتوقع بالطن لكل هكتار
        predictedTotalYieldTon:
          type: number
          description: |
            Total predicted yield in tons
            إجمالي الإنتاج المتوقع بالطن
        yieldRange:
          type: object
          properties:
            min:
              type: number
            max:
              type: number
        confidence:
          type: number
          minimum: 0
          maximum: 100
        factors:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              nameAr:
                type: string
              impact:
                type: string
                enum: [positive, neutral, negative]
              magnitude:
                type: number
        revenueEstimate:
          type: object
          properties:
            sar:
              type: number
            usd:
              type: number
        recommendations:
          type: array
          items:
            type: string
        recommendationsAr:
          type: array
          items:
            type: string
        timestamp:
          type: string
          format: date-time

    # ==================== Crop Data Schemas ====================
    CropInfo:
      type: object
      description: |
        Crop information
        معلومات المحصول
      properties:
        code:
          type: string
          example: wheat
        name:
          type: string
          example: Wheat
        nameAr:
          type: string
          example: قمح
        category:
          type: string
          example: cereals
        categoryAr:
          type: string
          example: حبوب
        growingSeasonDays:
          type: integer
          example: 120
        optimalTemperature:
          type: object
          properties:
            min:
              type: number
            max:
              type: number
        waterRequirementMmSeason:
          type: number
        npkRequirements:
          type: object
          properties:
            N:
              type: number
            P:
              type: number
            K:
              type: number
        commonDiseases:
          type: array
          items:
            type: string
        commonPests:
          type: array
          items:
            type: string

    CropVariety:
      type: object
      description: |
        Crop variety information
        معلومات صنف المحصول
      properties:
        code:
          type: string
          example: sakha_95
        name:
          type: string
          example: Sakha 95
        nameAr:
          type: string
          example: سخا 95
        cropCode:
          type: string
          example: wheat
        maturityDays:
          type: integer
        yieldPotentialTonHa:
          type: number
        characteristics:
          type: array
          items:
            type: string
        characteristicsAr:
          type: array
          items:
            type: string
        diseaseResistance:
          type: object
          additionalProperties:
            type: string
            enum: [resistant, tolerant, susceptible]

    CropStage:
      type: object
      description: |
        Crop growth stage information
        معلومات مرحلة نمو المحصول
      properties:
        stage:
          $ref: '#/components/schemas/GrowthStage'
        name:
          type: string
        nameAr:
          type: string
        durationDays:
          type: object
          properties:
            min:
              type: integer
            max:
              type: integer
        description:
          type: string
        descriptionAr:
          type: string
        keyActivities:
          type: array
          items:
            type: string
        keyActivitiesAr:
          type: array
          items:
            type: string
        irrigationNeed:
          type: string
          enum: [low, medium, high, critical]
        nutrientFocus:
          type: array
          items:
            type: string
            enum: [N, P, K, Zn, Fe, Mn]
        criticalDiseases:
          type: array
          items:
            type: string

    DiseaseInfo:
      type: object
      description: |
        Disease information
        معلومات المرض
      properties:
        id:
          type: string
        name:
          type: string
        nameAr:
          type: string
        type:
          type: string
          enum: [fungal, bacterial, viral, physiological]
        typeAr:
          type: string
        affectedCrops:
          type: array
          items:
            type: string
        symptoms:
          type: array
          items:
            type: string
        symptomsAr:
          type: array
          items:
            type: string
        conditions:
          type: object
          properties:
            temperature:
              type: object
              properties:
                min:
                  type: number
                max:
                  type: number
            humidity:
              type: object
              properties:
                min:
                  type: number
                max:
                  type: number
        treatments:
          type: array
          items:
            type: object
            properties:
              method:
                type: string
              methodAr:
                type: string
              products:
                type: array
                items:
                  type: string
              timing:
                type: string
              timingAr:
                type: string
        prevention:
          type: array
          items:
            type: string
        preventionAr:
          type: array
          items:
            type: string
        images:
          type: array
          items:
            type: string
            format: uri

security:
  - bearerAuth: []

paths:
  # ==================== Health Check Endpoints ====================
  /health:
    get:
      tags:
        - Health Check
      summary: Service health check
      description: |
        Check if all AI services are healthy and ready
        التحقق من صحة جميع خدمات الذكاء الاصطناعي
      security: []
      responses:
        '200':
          description: Services are healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  services:
                    type: object
                    properties:
                      advisory_service:
                        type: string
                        example: ok
                      crop_intelligence:
                        type: string
                        example: ok
                      ai_advisor:
                        type: string
                        example: ok
                      agro_advisor:
                        type: string
                        example: ok
                  version:
                    type: string
                    example: 16.0.0
                  timestamp:
                    type: string
                    format: date-time

  # ==================== Advisory Service - Disease Endpoints ====================
  /advisory/disease/assess:
    post:
      tags:
        - Advisory Service
      summary: Assess disease from classification
      description: |
        Assess disease severity and provide recommendations based on classification model output
        تقييم شدة المرض وتقديم التوصيات بناءً على مخرجات نموذج التصنيف
      operationId: assessDiseaseFromClassification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiseaseAssessRequest'
            example:
              tenantId: tenant_001
              fieldId: field_demo
              conditionId: early_blight_tomato
              confidence: 0.89
              crop: tomato
              growthStage: flowering
              weather:
                temperature: 28
                humidity: 75
      responses:
        '200':
          description: Disease assessment completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiseaseAssessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized

  /advisory/disease/symptoms:
    post:
      tags:
        - Advisory Service
      summary: Assess disease from symptoms
      description: |
        Identify potential diseases based on reported symptoms
        تحديد الأمراض المحتملة بناءً على الأعراض المبلغ عنها
      operationId: assessDiseaseFromSymptoms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SymptomAssessRequest'
            example:
              tenantId: tenant_001
              fieldId: field_demo
              crop: wheat
              symptoms:
                - yellow_leaves
                - brown_spots
                - wilting
              lang: ar
              affectedAreaPercent: 15
      responses:
        '200':
          description: Symptom-based assessment completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  assessmentId:
                    type: string
                    format: uuid
                  possibleDiseases:
                    type: array
                    items:
                      type: object
                      properties:
                        disease:
                          $ref: '#/components/schemas/DiseaseInfo'
                        probability:
                          type: number
                        matchingSymptoms:
                          type: array
                          items:
                            type: string
                  recommendations:
                    type: array
                    items:
                      type: object
                      properties:
                        action:
                          type: string
                        actionAr:
                          type: string
                        priority:
                          type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /advisory/disease/search:
    get:
      tags:
        - Advisory Service
      summary: Search diseases
      description: |
        Search diseases by name, symptoms, or crop
        البحث عن الأمراض بالاسم أو الأعراض أو المحصول
      operationId: searchDiseases
      parameters:
        - name: q
          in: query
          description: Search query
          schema:
            type: string
          example: blight
        - name: crop
          in: query
          description: Filter by crop
          schema:
            type: string
        - name: type
          in: query
          description: Filter by disease type
          schema:
            type: string
            enum: [fungal, bacterial, viral, physiological]
        - name: lang
          in: query
          description: Response language
          schema:
            type: string
            enum: [ar, en]
            default: ar
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  diseases:
                    type: array
                    items:
                      $ref: '#/components/schemas/DiseaseInfo'

  /advisory/disease/crop/{crop}:
    get:
      tags:
        - Advisory Service
      summary: Get diseases by crop
      description: |
        Get all diseases affecting a specific crop
        الحصول على جميع الأمراض التي تصيب محصولاً معيناً
      operationId: getDiseasesByCrop
      parameters:
        - name: crop
          in: path
          required: true
          schema:
            type: string
          example: wheat
        - name: lang
          in: query
          schema:
            type: string
            enum: [ar, en]
            default: ar
      responses:
        '200':
          description: List of diseases for the crop
          content:
            application/json:
              schema:
                type: object
                properties:
                  crop:
                    type: string
                  cropAr:
                    type: string
                  diseases:
                    type: array
                    items:
                      $ref: '#/components/schemas/DiseaseInfo'
        '404':
          description: Crop not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /advisory/disease/{diseaseId}:
    get:
      tags:
        - Advisory Service
      summary: Get disease details
      description: |
        Get detailed information about a specific disease
        الحصول على معلومات تفصيلية عن مرض معين
      operationId: getDiseaseById
      parameters:
        - name: diseaseId
          in: path
          required: true
          schema:
            type: string
          example: early_blight
        - name: lang
          in: query
          schema:
            type: string
            enum: [ar, en]
            default: ar
      responses:
        '200':
          description: Disease details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiseaseInfo'
        '404':
          description: Disease not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==================== Advisory Service - Nutrient Endpoints ====================
  /advisory/nutrient/ndvi:
    post:
      tags:
        - Advisory Service
      summary: Assess nutrient deficiency from NDVI
      description: |
        Assess potential nutrient deficiencies based on NDVI data and trends
        تقييم نقص العناصر الغذائية المحتمل بناءً على بيانات واتجاهات NDVI
      operationId: assessNutrientFromNDVI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NDVIAssessRequest'
            example:
              tenantId: tenant_001
              fieldId: field_demo
              ndvi: 0.45
              ndviHistory:
                - date: "2026-01-10"
                  value: 0.65
                - date: "2026-01-17"
                  value: 0.52
              crop: wheat
              stage: tillering
      responses:
        '200':
          description: NDVI-based nutrient assessment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NutrientAssessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /advisory/nutrient/visual:
    post:
      tags:
        - Advisory Service
      summary: Visual nutrient assessment
      description: |
        Assess nutrient deficiency based on visual symptoms
        تقييم نقص العناصر الغذائية بناءً على الأعراض المرئية
      operationId: assessNutrientVisual
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisualAssessRequest'
            example:
              tenantId: tenant_001
              fieldId: field_demo
              leafColor: yellow_green
              pattern: interveinal
              location: older_leaves
              crop: wheat
              stage: tillering
      responses:
        '200':
          description: Visual nutrient assessment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NutrientAssessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==================== Advisory Service - Fertilizer Endpoints ====================
  /advisory/fertilizer/plan:
    post:
      tags:
        - Advisory Service
      summary: Generate fertilizer plan
      description: |
        Generate a comprehensive fertilizer plan for a field
        إنشاء خطة تسميد شاملة للحقل
      operationId: generateFertilizerPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FertilizerPlanRequest'
            example:
              tenantId: tenant_001
              fieldId: field_demo
              crop: wheat
              stage: tillering
              fieldSizeHa: 5.5
              soilFertility: medium
              irrigationType: drip
              targetYieldTonHa: 4.5
      responses:
        '200':
          description: Fertilizer plan generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FertilizerPlanResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==================== Advisory Service - Crop Data Endpoints ====================
  /advisory/crops:
    get:
      tags:
        - Crop Data
      summary: List all crops
      description: |
        Get list of all supported crops
        الحصول على قائمة جميع المحاصيل المدعومة
      operationId: listCrops
      parameters:
        - name: category
          in: query
          description: Filter by category
          schema:
            type: string
            enum: [cereals, vegetables, fruits, legumes, oilseeds, forage]
        - name: lang
          in: query
          schema:
            type: string
            enum: [ar, en]
            default: ar
      responses:
        '200':
          description: List of crops
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  crops:
                    type: array
                    items:
                      $ref: '#/components/schemas/CropInfo'

  /advisory/crops/{cropCode}:
    get:
      tags:
        - Crop Data
      summary: Get crop details
      description: |
        Get detailed information about a specific crop
        الحصول على معلومات تفصيلية عن محصول معين
      operationId: getCropByCode
      parameters:
        - name: cropCode
          in: path
          required: true
          schema:
            type: string
          example: wheat
        - name: lang
          in: query
          schema:
            type: string
            enum: [ar, en]
            default: ar
      responses:
        '200':
          description: Crop details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CropInfo'
        '404':
          description: Crop not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /advisory/crops/{cropCode}/varieties:
    get:
      tags:
        - Crop Data
      summary: Get crop varieties
      description: |
        Get all varieties for a specific crop
        الحصول على جميع أصناف محصول معين
      operationId: getCropVarieties
      parameters:
        - name: cropCode
          in: path
          required: true
          schema:
            type: string
          example: wheat
        - name: lang
          in: query
          schema:
            type: string
            enum: [ar, en]
            default: ar
      responses:
        '200':
          description: List of varieties
          content:
            application/json:
              schema:
                type: object
                properties:
                  cropCode:
                    type: string
                  cropName:
                    type: string
                  cropNameAr:
                    type: string
                  varieties:
                    type: array
                    items:
                      $ref: '#/components/schemas/CropVariety'
        '404':
          description: Crop not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /advisory/crops/{crop}/stages:
    get:
      tags:
        - Crop Data
      summary: Get crop growth stages
      description: |
        Get growth stages information for a specific crop
        الحصول على معلومات مراحل نمو محصول معين
      operationId: getCropStages
      parameters:
        - name: crop
          in: path
          required: true
          schema:
            type: string
          example: wheat
        - name: lang
          in: query
          schema:
            type: string
            enum: [ar, en]
            default: ar
      responses:
        '200':
          description: List of growth stages
          content:
            application/json:
              schema:
                type: object
                properties:
                  crop:
                    type: string
                  cropAr:
                    type: string
                  stages:
                    type: array
                    items:
                      $ref: '#/components/schemas/CropStage'
        '404':
          description: Crop not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==================== AI Advisor Endpoints ====================
  /ai-advisor/chat:
    post:
      tags:
        - AI Advisor
      summary: AI chat interaction
      description: |
        Interactive AI chat for agricultural advice
        محادثة تفاعلية مع الذكاء الاصطناعي للاستشارات الزراعية
      operationId: aiChat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
            example:
              tenantId: tenant_001
              message: ما هي أفضل طريقة لري القمح في مرحلة التفريع؟
              context:
                crop: wheat
                stage: tillering
              lang: ar
      responses:
        '200':
          description: AI response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /ai-advisor/analyze-image:
    post:
      tags:
        - AI Advisor
      summary: Analyze image for crop health
      description: |
        Analyze crop image using AI for health assessment
        تحليل صورة المحصول باستخدام الذكاء الاصطناعي لتقييم الصحة
      operationId: analyzeImage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageAnalysisRequest'
            example:
              tenantId: tenant_001
              fieldId: field_demo
              imageUrl: https://cdn.sahool.io/images/crop_sample.jpg
              crop: tomato
              analysisTypes:
                - disease
                - health_score
              lang: ar
      responses:
        '200':
          description: Image analysis results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageAnalysisResponse'
        '202':
          description: Analysis job started (async)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJob'
        '400':
          description: Invalid image or request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==================== Crop Intelligence Endpoints ====================
  /crop-health/analyze:
    post:
      tags:
        - Crop Intelligence
      summary: Analyze crop image
      description: |
        Analyze crop image for disease detection and health assessment
        تحليل صورة المحصول للكشف عن الأمراض وتقييم الصحة
      operationId: analyzeCropImage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CropAnalyzeRequest'
            example:
              tenantId: tenant_001
              fieldId: field_demo
              imageUrl: https://cdn.sahool.io/images/wheat_field.jpg
              crop: wheat
      responses:
        '200':
          description: Analysis completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageAnalysisResponse'
        '202':
          description: Analysis job started (async)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJob'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /crop-health/diagnose:
    post:
      tags:
        - Crop Intelligence
      summary: Diagnose from symptoms
      description: |
        Diagnose crop issues based on reported symptoms
        تشخيص مشاكل المحصول بناءً على الأعراض المبلغ عنها
      operationId: diagnoseCropSymptoms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CropDiagnoseRequest'
            example:
              tenantId: tenant_001
              fieldId: field_demo
              crop: wheat
              symptoms:
                - yellow_leaves
                - stunted_growth
              growthStage: tillering
              lang: ar
      responses:
        '200':
          description: Diagnosis completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  diagnosisId:
                    type: string
                    format: uuid
                  possibleConditions:
                    type: array
                    items:
                      type: object
                      properties:
                        condition:
                          type: string
                        conditionAr:
                          type: string
                        type:
                          type: string
                          enum: [disease, nutrient, environmental, pest]
                        probability:
                          type: number
                        matchingSymptoms:
                          type: array
                          items:
                            type: string
                  recommendations:
                    type: array
                    items:
                      type: object
                      properties:
                        action:
                          type: string
                        actionAr:
                          type: string
                        priority:
                          type: string
                          enum: [P0, P1, P2, P3]
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /crop-health/predict:
    post:
      tags:
        - Crop Intelligence
      summary: Predict crop yield
      description: |
        Predict crop yield using ML models
        التنبؤ بإنتاج المحصول باستخدام نماذج الذكاء الاصطناعي
      operationId: predictCropYield
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CropPredictRequest'
            example:
              tenantId: tenant_001
              fieldId: field_demo
              crop: wheat
              areaHa: 5.5
              currentStage: heading
              irrigationType: drip
              soilFertility: good
              avgNdvi: 0.72
      responses:
        '200':
          description: Yield prediction completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CropPredictResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==================== Agro Advisor Endpoints ====================
  /agro-advisor/recommend:
    post:
      tags:
        - Agro Advisor
      summary: Get agronomic recommendations
      description: |
        Get comprehensive agronomic recommendations based on field conditions
        الحصول على توصيات زراعية شاملة بناءً على ظروف الحقل
      operationId: getAgroRecommendations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tenantId
                - fieldId
                - crop
              properties:
                tenantId:
                  type: string
                fieldId:
                  type: string
                crop:
                  type: string
                stage:
                  $ref: '#/components/schemas/GrowthStage'
                conditions:
                  type: object
                  properties:
                    soilMoisture:
                      type: number
                    temperature:
                      type: number
                    humidity:
                      type: number
                    ndvi:
                      type: number
                lang:
                  type: string
                  enum: [ar, en]
                  default: ar
      responses:
        '200':
          description: Recommendations generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommendationId:
                    type: string
                    format: uuid
                  fieldId:
                    type: string
                  crop:
                    type: string
                  cropAr:
                    type: string
                  recommendations:
                    type: array
                    items:
                      type: object
                      properties:
                        category:
                          type: string
                          enum: [irrigation, fertilization, pest_control, harvesting, general]
                        categoryAr:
                          type: string
                        action:
                          type: string
                        actionAr:
                          type: string
                        priority:
                          type: string
                          enum: [P0, P1, P2, P3]
                        timing:
                          type: string
                        timingAr:
                          type: string
                        reason:
                          type: string
                        reasonAr:
                          type: string
                  timestamp:
                    type: string
                    format: date-time

  /agro-rules:
    get:
      tags:
        - Agro Advisor
      summary: Get agronomic rules
      description: |
        Get agronomic rules for a specific crop and condition
        الحصول على القواعد الزراعية لمحصول وحالة معينة
      operationId: getAgroRules
      parameters:
        - name: crop
          in: query
          required: true
          schema:
            type: string
          example: wheat
        - name: stage
          in: query
          schema:
            $ref: '#/components/schemas/GrowthStage'
        - name: category
          in: query
          schema:
            type: string
            enum: [irrigation, fertilization, pest_control, harvesting, general]
        - name: lang
          in: query
          schema:
            type: string
            enum: [ar, en]
            default: ar
      responses:
        '200':
          description: Agronomic rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  crop:
                    type: string
                  cropAr:
                    type: string
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        category:
                          type: string
                        categoryAr:
                          type: string
                        condition:
                          type: string
                        conditionAr:
                          type: string
                        action:
                          type: string
                        actionAr:
                          type: string
                        parameters:
                          type: object

  # ==================== Async Job Management ====================
  /jobs/{jobId}:
    get:
      tags:
        - Health Check
      summary: Get job status
      description: |
        Check the status of an async ML job
        التحقق من حالة مهمة التعلم الآلي غير المتزامنة
      operationId: getJobStatus
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJob'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
