prometheus:
  url: http://kube-prometheus-stack-prometheus.monitoring.svc
  port: 9090

rules:
  default: true
  resource:
    cpu:
      containerQuery: sum(rate(container_cpu_usage_seconds_total{<<.LabelMatchers>>,container!="",pod!=""}[2m])) by (<<.GroupBy>>)
      nodeQuery: sum(rate(node_cpu_seconds_total{mode!="idle"}[2m])) by (<<.GroupBy>>)
      resources:
        overrides:
          namespace: {resource: "namespace"}
          pod: {resource: "pod"}
    memory:
      containerQuery: sum(container_memory_working_set_bytes{<<.LabelMatchers>>,container!="",pod!=""}) by (<<.GroupBy>>)
      nodeQuery: sum(node_memory_MemTotal_bytes - node_memory_MemAvailable_bytes) by (<<.GroupBy>>)
      resources:
        overrides:
          namespace: {resource: "namespace"}
          pod: {resource: "pod"}
