openapi: 3.0.3
info:
  title: SAHOOL Platform - Core Services API
  description: |
    # SAHOOL Core Services API Documentation
    ## خدمات SAHOOL الأساسية

    This API provides core functionality for the SAHOOL agricultural platform including:
    - User Management (إدارة المستخدمين)
    - Authentication & Authorization (المصادقة والتفويض)
    - Notification Service (خدمة الإشعارات)
    - Alert Service (خدمة التنبيهات)
    - Billing & Subscriptions (الفوترة والاشتراكات)
    - Audit Logging (سجل التدقيق)

    ## Authentication
    All endpoints require JWT authentication via the `Authorization: Bearer <token>` header unless otherwise specified.

    ## Rate Limiting
    - Free tier: 30 requests/minute
    - Standard tier: 60 requests/minute
    - Premium tier: 120 requests/minute
    - Internal: 1000 requests/minute

    ## Multi-tenancy
    Most endpoints require the `X-Tenant-ID` header for tenant isolation.

  version: 16.0.0
  contact:
    name: SAHOOL Platform Support
    email: support@sahool.sa
    url: https://sahool.sa
  license:
    name: Proprietary
    url: https://sahool.sa/terms

servers:
  - url: https://api.sahool.sa/api/v1
    description: Production server
  - url: https://staging-api.sahool.sa/api/v1
    description: Staging server
  - url: http://localhost:8000
    description: Development server (Kong Gateway)

tags:
  - name: Authentication
    description: User authentication and token management - المصادقة وإدارة الرموز
  - name: Users
    description: User management operations - إدارة المستخدمين
  - name: Notifications
    description: Notification service - خدمة الإشعارات
  - name: Alerts
    description: Agricultural alert management - إدارة التنبيهات الزراعية
  - name: Billing
    description: Billing and subscription management - إدارة الفوترة والاشتراكات
  - name: Audit
    description: Audit logging and compliance - سجل التدقيق والامتثال
  - name: Health
    description: Service health and readiness checks

paths:
  # ============================================================================
  # AUTHENTICATION ENDPOINTS (user-service - Port 3025)
  # ============================================================================
  /auth/login:
    post:
      tags: [Authentication]
      summary: User login
      description: |
        Authenticate user with email and password. Returns JWT access and refresh tokens.
        تسجيل دخول المستخدم بالبريد الإلكتروني وكلمة المرور.
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              standard:
                summary: Standard login
                value:
                  email: farmer@example.com
                  password: SecurePassword123!
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security: []

  /auth/register:
    post:
      tags: [Authentication]
      summary: Register new user
      description: |
        Register a new user account. Requires email verification.
        تسجيل حساب مستخدم جديد.
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: Email already exists
      security: []

  /auth/logout:
    post:
      tags: [Authentication]
      summary: User logout
      description: |
        Logout current user and revoke the access token.
        تسجيل خروج المستخدم وإلغاء الرمز.
      operationId: logout
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - bearerAuth: []

  /auth/logout-all:
    post:
      tags: [Authentication]
      summary: Logout from all devices
      description: |
        Logout from all devices and revoke all tokens.
        تسجيل الخروج من جميع الأجهزة.
      operationId: logoutAll
      responses:
        '200':
          description: Logged out from all devices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - bearerAuth: []

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      description: |
        Get a new access token using a valid refresh token. Implements refresh token rotation.
        تجديد رمز الوصول باستخدام رمز التحديث.
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security: []

  /auth/me:
    get:
      tags: [Authentication]
      summary: Get current user
      description: Get information about the currently authenticated user
      operationId: getCurrentUser
      responses:
        '200':
          description: Current user information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - bearerAuth: []

  /auth/forgot-password:
    post:
      tags: [Authentication]
      summary: Request password reset
      description: |
        Request a password reset link via email.
        طلب رابط إعادة تعيين كلمة المرور.
      operationId: forgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          description: Reset email sent (if account exists)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      security: []

  /auth/reset-password:
    post:
      tags: [Authentication]
      summary: Reset password
      description: |
        Reset password using token from email.
        إعادة تعيين كلمة المرور باستخدام الرمز.
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
      security: []

  /auth/send-otp:
    post:
      tags: [Authentication]
      summary: Send OTP
      description: |
        Send one-time password to phone or email for verification.
        إرسال رمز التحقق لمرة واحدة.
      operationId: sendOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendOtpRequest'
      responses:
        '200':
          description: OTP sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security: []

  /auth/verify-otp:
    post:
      tags: [Authentication]
      summary: Verify OTP
      description: |
        Verify one-time password.
        التحقق من رمز OTP.
      operationId: verifyOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyOtpRequest'
      responses:
        '200':
          description: OTP verified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid or expired OTP
      security: []

  # ============================================================================
  # USER MANAGEMENT ENDPOINTS
  # ============================================================================
  /users:
    get:
      tags: [Users]
      summary: List users
      description: |
        Get paginated list of users. Admin/Manager only.
        قائمة المستخدمين (للمدراء فقط).
      operationId: listUsers
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: role
          in: query
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/UserStatus'
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []

    post:
      tags: [Users]
      summary: Create user
      description: |
        Create a new user. Admin/Manager only.
        إنشاء مستخدم جديد.
      operationId: createUser
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: Email already exists
      security:
        - bearerAuth: []

  /users/{userId}:
    get:
      tags: [Users]
      summary: Get user by ID
      description: Get user details by ID
      operationId: getUser
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []

    put:
      tags: [Users]
      summary: Update user
      description: Update user information
      operationId: updateUser
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []

    delete:
      tags: [Users]
      summary: Delete user (soft delete)
      description: Soft delete a user account
      operationId: deleteUser
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []

  # ============================================================================
  # NOTIFICATION ENDPOINTS (notification-service - Port 8110)
  # ============================================================================
  /notifications:
    post:
      tags: [Notifications]
      summary: Create notification
      description: |
        Create and send a notification to targeted farmers.
        إنشاء وإرسال إشعار للمزارعين المستهدفين.
      operationId: createNotification
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNotificationRequest'
      responses:
        '201':
          description: Notification created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '400':
          $ref: '#/components/responses/ValidationError'
      security:
        - bearerAuth: []

  /notifications/weather:
    post:
      tags: [Notifications]
      summary: Create weather alert
      description: |
        Send weather alert to farmers in specific governorates.
        إرسال تنبيه طقس للمزارعين في محافظات محددة.
      operationId: createWeatherAlert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeatherAlertRequest'
      responses:
        '201':
          description: Weather alert created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
      security:
        - bearerAuth: []

  /notifications/pest:
    post:
      tags: [Notifications]
      summary: Create pest outbreak alert
      description: |
        Alert farmers about pest outbreaks in their area.
        تنبيه المزارعين عن تفشي الآفات في منطقتهم.
      operationId: createPestAlert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PestAlertRequest'
      responses:
        '201':
          description: Pest alert created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
      security:
        - bearerAuth: []

  /notifications/irrigation:
    post:
      tags: [Notifications]
      summary: Create irrigation reminder
      description: |
        Send irrigation reminder to specific farmer.
        إرسال تذكير ري لمزارع محدد.
      operationId: createIrrigationReminder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IrrigationReminderRequest'
      responses:
        '201':
          description: Irrigation reminder created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
      security:
        - bearerAuth: []

  /notifications/farmer/{farmerId}:
    get:
      tags: [Notifications]
      summary: Get farmer notifications
      description: |
        Get notifications for a specific farmer.
        الحصول على إشعارات مزارع محدد.
      operationId: getFarmerNotifications
      parameters:
        - name: farmerId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/NotificationType'
        - name: read
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
      security:
        - bearerAuth: []

  /notifications/{notificationId}/read:
    patch:
      tags: [Notifications]
      summary: Mark notification as read
      description: Mark a notification as read
      operationId: markNotificationRead
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Notification marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []

  /notifications/register:
    post:
      tags: [Notifications]
      summary: Register farmer for notifications
      description: |
        Register a farmer profile for receiving notifications.
        تسجيل ملف مزارع لتلقي الإشعارات.
      operationId: registerFarmerNotifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarmerProfileRequest'
      responses:
        '201':
          description: Farmer registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmerProfile'
      security:
        - bearerAuth: []

  /notifications/stats:
    get:
      tags: [Notifications]
      summary: Get notification statistics
      description: Get statistics about sent notifications
      operationId: getNotificationStats
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: days
          in: query
          schema:
            type: integer
            default: 30
      responses:
        '200':
          description: Notification statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationStats'
      security:
        - bearerAuth: []

  # ============================================================================
  # ALERT ENDPOINTS (alert-service - Port 8113)
  # ============================================================================
  /alerts:
    get:
      tags: [Alerts]
      summary: List alerts
      description: |
        Get list of active alerts.
        قائمة التنبيهات النشطة.
      operationId: listAlerts
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/AlertType'
        - name: severity
          in: query
          schema:
            $ref: '#/components/schemas/AlertSeverity'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/AlertStatus'
      responses:
        '200':
          description: List of alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResponse'
      security:
        - bearerAuth: []

    post:
      tags: [Alerts]
      summary: Create alert
      description: |
        Create a new alert.
        إنشاء تنبيه جديد.
      operationId: createAlert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAlertRequest'
      responses:
        '201':
          description: Alert created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
      security:
        - bearerAuth: []

  /alerts/{alertId}:
    get:
      tags: [Alerts]
      summary: Get alert by ID
      description: Get alert details
      operationId: getAlert
      parameters:
        - $ref: '#/components/parameters/AlertId'
      responses:
        '200':
          description: Alert details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []

  /alerts/{alertId}/acknowledge:
    patch:
      tags: [Alerts]
      summary: Acknowledge alert
      description: Mark alert as acknowledged
      operationId: acknowledgeAlert
      parameters:
        - $ref: '#/components/parameters/AlertId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcknowledgeAlertRequest'
      responses:
        '200':
          description: Alert acknowledged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
      security:
        - bearerAuth: []

  /alerts/{alertId}/resolve:
    patch:
      tags: [Alerts]
      summary: Resolve alert
      description: Mark alert as resolved
      operationId: resolveAlert
      parameters:
        - $ref: '#/components/parameters/AlertId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveAlertRequest'
      responses:
        '200':
          description: Alert resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
      security:
        - bearerAuth: []

  /alerts/active:
    get:
      tags: [Alerts]
      summary: Get active alerts
      description: Get all active (unresolved) alerts
      operationId: getActiveAlerts
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Active alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResponse'
      security:
        - bearerAuth: []

  # ============================================================================
  # AUDIT ENDPOINTS (audit-service - Port 8114)
  # ============================================================================
  /audit:
    get:
      tags: [Audit]
      summary: Get audit logs
      description: |
        Get audit trail for compliance. Admin only.
        سجل التدقيق للامتثال (للمدراء فقط).
      operationId: getAuditLogs
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: entityType
          in: query
          schema:
            type: string
            enum: [user, field, task, billing, notification]
        - name: entityId
          in: query
          schema:
            type: string
        - name: action
          in: query
          schema:
            type: string
            enum: [create, update, delete, login, logout]
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Audit logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []

    post:
      tags: [Audit]
      summary: Create audit entry
      description: Record an audit entry (internal use)
      operationId: createAuditEntry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuditEntryRequest'
      responses:
        '201':
          description: Audit entry created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditEntry'
      security:
        - bearerAuth: []

  # ============================================================================
  # HEALTH ENDPOINTS
  # ============================================================================
  /health:
    get:
      tags: [Health]
      summary: Combined health check
      description: Get combined health status
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
      security: []

  /healthz:
    get:
      tags: [Health]
      summary: Liveness probe
      description: Kubernetes liveness probe endpoint
      operationId: livenessProbe
      responses:
        '200':
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
      security: []

  /readyz:
    get:
      tags: [Health]
      summary: Readiness probe
      description: Kubernetes readiness probe endpoint
      operationId: readinessProbe
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
      security: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token

  parameters:
    TenantId:
      name: X-Tenant-ID
      in: header
      required: true
      description: Tenant identifier for multi-tenancy
      schema:
        type: string
        format: uuid

    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
        format: uuid

    AlertId:
      name: alertId
      in: path
      required: true
      schema:
        type: string
        format: uuid

    Limit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    Offset:
      name: offset
      in: query
      description: Number of items to skip
      schema:
        type: integer
        minimum: 0
        default: 0

  schemas:
    # ========== Authentication Schemas ==========
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: user@sahool.com
        password:
          type: string
          format: password
          minLength: 8
          example: SecurePassword123!

    RegisterRequest:
      type: object
      required: [tenantId, email, password, firstName, lastName]
      properties:
        tenantId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        phone:
          type: string
          example: "+966501234567"
        password:
          type: string
          format: password
          minLength: 8
        firstName:
          type: string
          maxLength: 50
        lastName:
          type: string
          maxLength: 50
        role:
          $ref: '#/components/schemas/UserRole'

    RegisterResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        status:
          $ref: '#/components/schemas/UserStatus'
        message:
          type: string
          example: Verification email sent

    RefreshTokenRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string

    ForgotPasswordRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    ResetPasswordRequest:
      type: object
      required: [token, newPassword]
      properties:
        token:
          type: string
        newPassword:
          type: string
          format: password
          minLength: 8

    SendOtpRequest:
      type: object
      properties:
        phone:
          type: string
        email:
          type: string
          format: email

    VerifyOtpRequest:
      type: object
      required: [otp]
      properties:
        phone:
          type: string
        email:
          type: string
          format: email
        otp:
          type: string
          minLength: 6
          maxLength: 6

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT access token
        refresh_token:
          type: string
          description: JWT refresh token for token rotation
        expires_in:
          type: integer
          description: Token expiration time in seconds
          example: 1800
        token_type:
          type: string
          example: Bearer
        user:
          $ref: '#/components/schemas/UserProfile'

    # ========== User Schemas ==========
    UserRole:
      type: string
      enum: [ADMIN, MANAGER, FARMER, WORKER, VIEWER]
      description: |
        - ADMIN: Full system access
        - MANAGER: Tenant management
        - FARMER: Field and crop management
        - WORKER: Task execution
        - VIEWER: Read-only access

    UserStatus:
      type: string
      enum: [ACTIVE, INACTIVE, SUSPENDED, PENDING]

    UserProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        phone:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        role:
          $ref: '#/components/schemas/UserRole'
        status:
          $ref: '#/components/schemas/UserStatus'
        emailVerified:
          type: boolean
        phoneVerified:
          type: boolean
        lastLoginAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateUserRequest:
      type: object
      required: [email, password, firstName, lastName]
      properties:
        email:
          type: string
          format: email
        phone:
          type: string
        password:
          type: string
          format: password
          minLength: 8
        firstName:
          type: string
        lastName:
          type: string
        role:
          $ref: '#/components/schemas/UserRole'
        status:
          $ref: '#/components/schemas/UserStatus'

    UpdateUserRequest:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        role:
          $ref: '#/components/schemas/UserRole'
        status:
          $ref: '#/components/schemas/UserStatus'

    UserListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserProfile'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    # ========== Notification Schemas ==========
    NotificationType:
      type: string
      enum:
        - WEATHER_ALERT
        - LOW_STOCK
        - DISEASE_DETECTED
        - SPRAY_WINDOW
        - HARVEST_REMINDER
        - PAYMENT_DUE
        - FIELD_UPDATE
        - SATELLITE_READY
        - PEST_OUTBREAK
        - IRRIGATION_REMINDER
        - MARKET_PRICE
        - CROP_HEALTH
        - TASK_REMINDER
        - SYSTEM

    NotificationPriority:
      type: string
      enum: [LOW, MEDIUM, HIGH, CRITICAL]

    NotificationChannel:
      type: string
      enum: [PUSH, SMS, EMAIL, WHATSAPP, IN_APP]

    Governorate:
      type: string
      enum:
        - sanaa
        - aden
        - taiz
        - hodeidah
        - ibb
        - dhamar
        - hadramout
        - hajjah
        - lahj
        - marib
        - shabwah
        - amran
        - saadah
        - abyan
        - bayda
        - mahwit
        - mahrah
        - raymah
        - jawf
        - dhale
        - socotra

    CropType:
      type: string
      enum:
        - wheat
        - barley
        - date_palm
        - tomato
        - cucumber
        - potato
        - onion
        - mango
        - banana
        - coffee
        - grape
        - citrus
        - pomegranate
        - alfalfa
        - corn
        - sesame
        - sorghum
        - qat

    CreateNotificationRequest:
      type: object
      required: [type, title, titleAr, body, bodyAr]
      properties:
        type:
          $ref: '#/components/schemas/NotificationType'
        priority:
          $ref: '#/components/schemas/NotificationPriority'
        title:
          type: string
          maxLength: 100
        titleAr:
          type: string
          maxLength: 100
          description: Arabic title - العنوان بالعربية
        body:
          type: string
          maxLength: 500
        bodyAr:
          type: string
          maxLength: 500
          description: Arabic body - المحتوى بالعربية
        data:
          type: object
          additionalProperties: true
        targetFarmers:
          type: array
          items:
            type: string
        targetGovernorates:
          type: array
          items:
            $ref: '#/components/schemas/Governorate'
        targetCrops:
          type: array
          items:
            $ref: '#/components/schemas/CropType'
        channels:
          type: array
          items:
            $ref: '#/components/schemas/NotificationChannel'
          default: [IN_APP]
        expiresInHours:
          type: integer
          default: 24

    WeatherAlertRequest:
      type: object
      required: [governorates, alertType, severity, expectedDate]
      properties:
        governorates:
          type: array
          items:
            $ref: '#/components/schemas/Governorate'
        alertType:
          type: string
          enum: [frost, heat_wave, storm, flood, drought, heavy_rain, dust_storm]
        severity:
          $ref: '#/components/schemas/NotificationPriority'
        expectedDate:
          type: string
          format: date
        details:
          type: object
          additionalProperties: true

    PestAlertRequest:
      type: object
      required: [governorate, pestName, pestNameAr, affectedCrops, severity]
      properties:
        governorate:
          $ref: '#/components/schemas/Governorate'
        pestName:
          type: string
        pestNameAr:
          type: string
        affectedCrops:
          type: array
          items:
            $ref: '#/components/schemas/CropType'
        severity:
          $ref: '#/components/schemas/NotificationPriority'

    IrrigationReminderRequest:
      type: object
      required: [farmerId, fieldId, fieldName, crop, waterNeededMm]
      properties:
        farmerId:
          type: string
        fieldId:
          type: string
        fieldName:
          type: string
        crop:
          $ref: '#/components/schemas/CropType'
        waterNeededMm:
          type: number
          format: float
        urgency:
          $ref: '#/components/schemas/NotificationPriority'

    FarmerProfileRequest:
      type: object
      required: [farmerId, name, nameAr, governorate, crops]
      properties:
        farmerId:
          type: string
        name:
          type: string
        nameAr:
          type: string
        governorate:
          $ref: '#/components/schemas/Governorate'
        crops:
          type: array
          items:
            $ref: '#/components/schemas/CropType'
        phone:
          type: string
        email:
          type: string
          format: email
        fcmToken:
          type: string
        language:
          type: string
          default: ar
          enum: [ar, en]

    FarmerProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        farmerId:
          type: string
        name:
          type: string
        nameAr:
          type: string
        governorate:
          $ref: '#/components/schemas/Governorate'
        crops:
          type: array
          items:
            $ref: '#/components/schemas/CropType'
        phone:
          type: string
        email:
          type: string
        fcmToken:
          type: string
        language:
          type: string
        createdAt:
          type: string
          format: date-time

    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
        userId:
          type: string
        type:
          $ref: '#/components/schemas/NotificationType'
        priority:
          $ref: '#/components/schemas/NotificationPriority'
        title:
          type: string
        titleAr:
          type: string
        body:
          type: string
        bodyAr:
          type: string
        channel:
          $ref: '#/components/schemas/NotificationChannel'
        status:
          type: string
          enum: [pending, sent, delivered, read, failed, expired]
        data:
          type: object
        actionUrl:
          type: string
        sentAt:
          type: string
          format: date-time
        readAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    NotificationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        total:
          type: integer
        unreadCount:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    NotificationStats:
      type: object
      properties:
        totalFeedback:
          type: integer
        averageRating:
          type: number
          format: float
        successRate:
          type: number
          format: float
        thumbsUpCount:
          type: integer
        thumbsDownCount:
          type: integer
        byRecommendationType:
          type: object
          additionalProperties:
            type: object
            properties:
              count:
                type: integer
              averageRating:
                type: number
              positive:
                type: integer
              negative:
                type: integer

    # ========== Alert Schemas ==========
    AlertType:
      type: string
      enum: [weather, pest, disease, irrigation, equipment, system]

    AlertSeverity:
      type: string
      enum: [info, warning, critical, emergency]

    AlertStatus:
      type: string
      enum: [active, acknowledged, resolved, expired]

    CreateAlertRequest:
      type: object
      required: [type, severity, title, message]
      properties:
        type:
          $ref: '#/components/schemas/AlertType'
        severity:
          $ref: '#/components/schemas/AlertSeverity'
        title:
          type: string
        titleAr:
          type: string
        message:
          type: string
        messageAr:
          type: string
        fieldId:
          type: string
          format: uuid
        metadata:
          type: object
          additionalProperties: true

    AcknowledgeAlertRequest:
      type: object
      required: [acknowledgedBy]
      properties:
        acknowledgedBy:
          type: string
        notes:
          type: string

    ResolveAlertRequest:
      type: object
      required: [resolution, resolvedBy]
      properties:
        resolution:
          type: string
        resolvedBy:
          type: string

    Alert:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
        type:
          $ref: '#/components/schemas/AlertType'
        severity:
          $ref: '#/components/schemas/AlertSeverity'
        status:
          $ref: '#/components/schemas/AlertStatus'
        title:
          type: string
        titleAr:
          type: string
        message:
          type: string
        messageAr:
          type: string
        fieldId:
          type: string
        metadata:
          type: object
        acknowledgedBy:
          type: string
        acknowledgedAt:
          type: string
          format: date-time
        acknowledgeNotes:
          type: string
        resolvedBy:
          type: string
        resolvedAt:
          type: string
          format: date-time
        resolution:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time

    AlertListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Alert'
        total:
          type: integer
        activeCount:
          type: integer
        criticalCount:
          type: integer

    # ========== Audit Schemas ==========
    CreateAuditEntryRequest:
      type: object
      required: [action, entityType, entityId]
      properties:
        action:
          type: string
          enum: [create, update, delete, login, logout, view, export]
        entityType:
          type: string
        entityId:
          type: string
        userId:
          type: string
        details:
          type: object
        ipAddress:
          type: string

    AuditEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
        userId:
          type: string
        action:
          type: string
        entityType:
          type: string
        entityId:
          type: string
        details:
          type: object
        ipAddress:
          type: string
        userAgent:
          type: string
        createdAt:
          type: string
          format: date-time

    AuditLogListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AuditEntry'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    # ========== Health & Common Schemas ==========
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        service:
          type: string
        version:
          type: string
          example: "16.0.0"
        uptime:
          type: integer
          description: Uptime in seconds

    ReadinessResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        database:
          type: boolean
        nats:
          type: boolean
        redis:
          type: boolean

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object

  responses:
    Unauthorized:
      description: Authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: UNAUTHORIZED
            message: Invalid or expired token

    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: FORBIDDEN
            message: You do not have permission to perform this action

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: NOT_FOUND
            message: Resource not found

    ValidationError:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: VALIDATION_ERROR
            message: Invalid request parameters
            details:
              email: Must be a valid email address

    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: RATE_LIMIT_EXCEEDED
            message: Too many requests. Please try again later.
      headers:
        X-RateLimit-Limit-Minute:
          schema:
            type: integer
        X-RateLimit-Remaining-Minute:
          schema:
            type: integer
